/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */


/* базовой сброс стилей */

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.section {
    padding-bottom: 94px;
    padding-top: 94px;
}

:root {
    /* color */
    --main-color: #212121;
    --secondary-color: #757575;
    --accent-color: #2196f3;
    --primary-dark: #000000;
    --primary-light: #ffffff;
    --adress-color: rgba(255, 255, 255, 0.6);
    --btn-color: #188ce8;
    --background-color: #f5f4fa;
    --border-color: #ececec;
    /* theme */
    --dark-theme-color: #2f303a;
    /* text */
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
}

body {
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: 400;
    color: var(--main-color);
    letter-spacing: 0.03em;
}


/* logo*/

.logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.header-logo {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    color: var(--primary-dark);
    margin-right: 93px;
}

.header-logo:focus {
    outline: 1px solid var(--accent-color);
}

.logo-section {
    color: var(--accent-color);
}


/* header */

.header {
    /* background-color: SandyBrown; */
    border-bottom: 1px solid var(--border-color);
}

.header-container {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-item:not(:last-child) {
    margin-right: 50px;
}

.nav-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.nav-link {
    position: relative;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
    outline: transparent;
    color: var(--accent-color);
}

.nav-link.current {
    color: var(--accent-color);
}

.current::after {
    content: "";
    display: block;
    margin-top: 28px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
    position: absolute;
    left: 0;
    bottom: 0;
    bottom: -1px;
}

.header-contact {
    display: flex;
    margin-left: auto;
}

.header-contact-item {
    margin-right: 50px;
}

.icon-header {
    margin-right: 10px;
    fill: currentColor;
}

.header-mail {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-mail:hover,
.header-mail:focus {
    outline: transparent;
    color: var(--accent-color);
}

.header-phone {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-phone:hover,
.header-phone:focus {
    outline: transparent;
    color: var(--accent-color);
}


/* section hero */

.section-hero {
    margin: 0 auto;
    background-image: linear-gradient(rgb(47, 48, 58, 0.4), rgb(47, 48, 58, 0.4)), url(../images/fon.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1600px;
    padding: 200px 0;
    background-color: var(--dark-theme-color);
    text-align: center;
}

.hero-title {
    width: 696px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    text-align: center;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-light);
}

.hero-btn {
    padding: 10px 32px;
    border-radius: 4px;
    border: transparent;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    background-color: var(--accent-color);
    color: var(--primary-light);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
    outline: transparent;
    background-color: var(--btn-color);
    border: 1px solid var(--btn-color);
}


/* ection advantage */

.list-advantage {
    display: flex;
    /* justify-content: space-between; */
}

.item-advantage {
    width: 270px;
}

.icon-advantage-wrapper {
    display: flex;
    margin-bottom: 30px;
    height: 120px;
    width: 270px;
    background-color: var(--background-color);
    border-radius: 4px;
    justify-content: center;
    align-items: center;
}

.item-advantage:not(:last-child) {
    margin-right: 30px;
}

.title-advantage {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
}

.description-advantage {
    line-height: 1.71;
    color: var(--secondary-color);
}


/* section examples  */

.section-examples {
    /* background-color: SandyBrown; */
    padding-bottom: 94px;
    padding-top: 0;
}

.title-examples {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.list-examples {
    display: flex;
    justify-content: space-between;
}

.item-examples:not(:last-child) {
    margin-right: 30px;
}

.examples-wrapper {
    position: relative;
}

.examples-label {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 27px;
    padding-bottom: 27px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-light);
    background-color: rgba(47, 48, 58, 0.80);
}


/* section our team */

.section-team {
    background-color: var(--background-color);
}

.title-team {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.list-team {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.item-team {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 4, 4, 0.14), 0px 2px 1px rgba(1, 4, 6, 0.20);
}

.item-team:not(:last-child) {
    margin-right: 30px;
}

.block-description-team {
    background-color: var(--primary-light);
}

.list-title-team {
    display: block;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}

.block-description-team {
    padding-top: 30px;
    padding-bottom: 30px;
}

.description-team {
    display: block;
    font-size: 16px;
    line-height: 1.19;
    color: var(--secondary-color);
    margin-bottom: 16px;
}


/* social-link */

.sotial-link {
    display: flex;
    justify-content: center;
}

.social-link-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: var(--primary-light);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-icon:hover,
.social-link-icon:focus {
    outline: transparent;
    background-color: var(--accent-color);
}

.social-icon-list:not(:last-child) {
    margin-right: 10px;
}

.social-icon {
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-icon:hover .social-icon,
.social-link-icon:focus .social-icon {
    outline: transparent;
    fill: var(--primary-light);
}


/* regular customers */

.title-customers {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);
}

.customers-list {
    display: flex;
    justify-content: center;
}

.customers-item:not(:last-child) {
    margin-right: 30px;
}

.customers-link {
    display: flex;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover,
.customers-link:focus {
    outline: transparent;
    border: 1px solid var(--accent-color);
    fill: var(--accent-color);
}


/* footer-logo */

.footer-logo {
    display: inline-block;
    margin-bottom: 20px;
    color: var(--primary-light);
}

.footer-logo:focus {
    outline: 1px solid var(--accent-color);
}


/* footer */

.footer {
    padding: 60px 0;
    background-color: var(--dark-theme-color);
}

.container-wrapper-footer {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.footer-nav:not(:last-child) {
    margin-bottom: 9px;
}

.footer-adress {
    font-style: normal;
    line-height: 1.71;
    color: var(--primary-light);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-adress:hover,
.footer-adress:focus {
    outline: transparent;
    color: var(--accent-color);
}

.footer-link-mail {
    line-height: 1.71;
    color: var(--adress-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link-mail:hover,
.footer-link-mail:focus {
    outline: transparent;
    color: var(--accent-color);
}

.footer-link-phone {
    line-height: 1.71;
    color: var(--adress-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link-phone:hover,
.footer-link-phone:focus {
    outline: transparent;
    color: var(--accent-color);
}


/* social-link-footer */

.join {
    display: block;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-light);
}

.sotial-link-footer {
    display: flex;
    justify-content: center;
}

.social-link-icon-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-icon-footer:hover,
.social-link-icon-footer:focus {
    outline: transparent;
    background-color: var(--accent-color);
}

.social-icon-list-footer:not(:last-child) {
    margin-right: 10px;
}

.social-icon-footer {
    fill: var(--primary-light);
}


/* footer-form */

.form-footer {
    display: flex;
    flex-direction: column;
}

.footer-action {
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-light);
    margin-bottom: 20px;
}

.form-subscription {
    display: flex;
}

.footer-input {
    margin-right: 12px;
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: rgba(47, 48, 58, 1);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    padding-left: 16px;
    outline: transparent;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-input:focus {
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    outline: transparent;
}


/* .footer-input:focus::placeholder {
    color: var(--accent-color);
} */

.footer-form-btn {
    justify-content: center;
    display: flex;
    align-items: center;
    width: 200px;
    height: 50px;
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: transparent;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--primary-light);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-btn:hover,
.footer-form-btn:focus {
    outline: transparent;
    background-color: var(--btn-color);
    border-radius: 4px;
}

.form-icon-footer {
    margin-top: 13px;
    margin-left: 10px;
    align-self: baseline;
}


/* portfolio */

.btn-list {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.btn-item:not(:last-child) {
    margin-right: 8px;
}

.btn-item {
    background: var(--btn-background-color);
}

.btn {
    padding: 6px 22px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    color: var(--main-color);
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
    outline: transparent;
    background-color: var(--btn-color);
    border-radius: 4px;
    color: var(--primary-light);
}


/* list-portfolio */

.list-portfolio {
    margin: -15px;
    display: flex;
    flex-wrap: wrap;
}

.item-portfolio {
    flex-basis: calc((100% - 90px) / 3);
    margin: 15px;
}

.link-portfolio {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-portfolio:hover,
.link-portfolio:focus {
    outline: transparent;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 4, 4, 0.06), 0px 1px 1px rgba(1, 4, 6, 0.16);
}

.img-portfolio {
    display: block;
}

.description-portfolio {
    padding: 20px 24px;
    border-bottom: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
}

.title-portfolio {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-color);
}

.name-portfolio {
    font-size: 16px;
    line-height: 1.88;
    color: var(--secondary-color);
}


/* overlay */

.position-wrapper {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: var(--primary-light);
    padding: 63px 24px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-portfolio:hover .overlay,
.link-portfolio:focus .overlay {
    outline: transparent;
    transform: translateY(0);
}


/* modal */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    visibility: visible;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.9);
}

.modal {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 528px;
    height: 581px;
    background-color: var(--primary-light);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    fill: var(--accent-color);
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}


/* modal-form */

.modal-form {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.form-action {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);
    margin-bottom: 14px;
}

.form-description {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--secondary-color);
}

.form-input-wrapper {
    display: block;
    position: relative;
    margin-top: 4px;
}

.form-cell {
    display: block;
    padding-left: 42px;
    margin-bottom: 10px;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-cell:focus {
    outline: none;
    border-color: var(--accent-color);
}

.form-cell:focus+.form-icon {
    fill: var(--accent-color);
}

.form-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-message {
    display: block;
    font-family: inherit;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
    margin-bottom: 20px;
    margin-top: 4px;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-message:focus {
    outline: none;
    border-color: var(--accent-color);
}

.form-message::placeholder {
    color: rgba(117, 117, 117, 0.5);
}

.form-agreement {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    margin-left: 24px;
}

.form-check {
    display: inline-block;
    background: url(../images/check/checkbox.svg);
    background-repeat: no-repeat;
    width: 15px;
    height: 16px;
    margin-right: 7px;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-checkbox:checked+.form-check {
    background: url(../images/check/icon\ check.svg);
    background-repeat: no-repeat;
}

.form-policy {
    margin-left: 2px;
    text-decoration-line: underline;
    color: var(--accent-color);
}

.form-policy:focus {
    outline: 2px solid var(--accent-color);
}

.form-send-btn {
    width: 200px;
    height: 50px;
    background: var(--accent-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    border: transparent;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    align-self: center;
    cursor: pointer;
    color: var(--primary-light);
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, ), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-send-btn:hover,
.form-send-btn:focus {
    background: var(--btn-color);
    outline: transparent;
    border: 3px solid var(--accent-color);
}