/*header-logo*/

.logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.header__logo {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    color: var(--primary-dark);
    margin-right: 93px;
}

.header__logo:focus {
    outline: 1px solid var(--accent-color);
}

.logo__section {
    color: var(--accent-color);
}


/*footer-logo*/

.footer__logo {
    display: inline-block;
    margin-bottom: 20px;
    color: var(--primary-light);
}

.footer__logo:focus {
    outline: 1px solid var(--accent-color);
}